{% extends "layout.html" %}

{% block body %}
<h1>Teetietokanta</h1>
<ul>
  <li> <a href="{{url_for('teas_page')}}">Teet</a> </li>
  <li> <a href="{{url_for('teatypes_page')}}">Teetyypit</a> </li>
  <li> <a href="{{url_for('ingredients_page')}}">Ainesosat</a> </li>
  {%if current_user and current_user.is_authenticated%}
  <li> <a href="{{url_for('reviews_page')}}">Arvostelut</a> </li>
  {%endif%}
</ul>
<h3>Tilastoja</h3>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Arvostelemattomia teelajikkeita</th>
      <td><a href="{{url_for('teas_page')}}">{%if unreviewed_count%}{{unreviewed_count}}{%else%}0{%endif%}</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
