{% extends "layout.html" %}

{% block body %}
<h2> Ainesosat </h2>
<div id="list">
  <table>
    {% for ingredient in ingredients %}
    <tr>
      <td>{{ingredient.name}} 
        {%if ingredient.teatype%}
        {{ingredient.teatype}}
        {%endif%}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<h2>Lisää ainesosa</h2>
<div class="form">
  <form action="{{url_for('add_ingredient')}}" method="POST">
    <table class="form-table">
      <tr class="labelrow">
        <td>Ainesosan nimi</td>
        <td>Valitse teetyyppi, tai...</td>
        <td>Etsi tai lisää uusi teetyyppi</td>
      </tr>
      <tr class="contentrow">
        <td>
          <input type="text" name="name">
        </td>
        <td>
          <select name="teatype_id">
            <option value="-1" selected="selected">Tyhjä</option>
            {% for teatype in teatypes %}
            <option value="{{teatype.id}}">{{teatype.name}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          <input type="text" name="teatype_name">
        </td>
        </td>
      </tr>
    </table>
    <div>
      <input type="submit" value="Lisää ainesosa">
    </div>
  </form>
</div>
<p> <a href="{{url_for('index')}}">Palaa alkuun</a> </p>
{% endblock %}
