<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
    <title>Teetietokanta</title>
  </head>
  <p>
  {%if current_user and current_user.is_authenticated%}
  Käyttäjä: {{current_user.name}} <a href="{{url_for('auth_logout')}}">Kirjaudu ulos</a>
  {%else%}
  <a href="{{url_for('auth_add_user')}}">Luo uusi käyttäjä</a>
  <a href="{{url_for('auth_login')}}">Kirjaudu sisään</a>
  {%endif%}
  </p>

  <body>
    <h1> Teetietokanta </h1>
    <ul>
      <li> <a href="{{url_for('ingredients_page')}}">Ainesosat</a> </li>
      <li> <a href="{{url_for('add_ingredient')}}">Lisää ainesosa</a> </li>
      <li> <a href="{{url_for('teatypes_page')}}">Teetyypit</a> </li>
      <li> <a href="{{url_for('add_teatype')}}">Lisää teetyyppi</a> </li>
    </ul>

    {% block body %}
    <p>
    Content.
    </p>
    {% endblock %}
  </body>
</html>
