{% extends "layout.html" %}

{% block body %}
<div class="page-header">
  <h2> Ainesosat </h2>
  <a class="btn btn-primary" href="{{url_for('add_ingredient')}}">Lisää uusi</a>
</div>
<div class="pane" id="list">
  <table class="table">
    <thead>
      <th scope="col">Ainesosa</th>
    </thead>
    {% for ingredient in ingredients %}
    <tbody>
      <tr>
        <td>
          <span class="ingredient teaitem">{{ingredient.name}}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
