#blockbody {
  max-width: 30em;
  margin: 0 auto;
}
.navbar-link, .navbar-text {
  margin-left: 1ex;
  margin-right: 1ex;
}
.oi {
  margin-left: .5ex;
  margin-right: .5ex;
}
.page-header h2 {
  float: left;
}
.page-header a {
  float: right;
}
form {
  display: grid;
}
input[type="submit"] {
  float: right;
}
.pane {
  padding: 0.5ex;
}
