{% extends "layout.html" %}

{% block body %}
<div class="page-header">
  <h2> Teetyypit </h2>
  <a class="btn btn-primary" href="{{url_for('add_teatype')}}">Lisää uusi</a>
</div>
<div class="pane" id="list">
  {% for error in errors %}
  <div class="alert alert-danger">{{error}}</div>
  {% endfor %}
  <table class="table">
    <thead>
      <th scope="col">Teetyyppi</th>
    </thead>
    <tbody>
      {% for teatype in teatypes %}
      <tr>
        <td>
          {% if current_user and current_user.is_authenticated and current_user.role_object.name == "admin" %}
          <div class="input-group">
            <form class="form-inline" action="{{url_for('modify_teatype')}}" method="POST">
              <input type="hidden" name="id" value="{{teatype.id}}"/>
              <input type="text" class="form-control" name="name" value="{{teatype.name}}"/>
            </form>
            <a class="btn btn-secondary form-control" href="{{url_for('delete_teatype', id=teatype.id)}}">Poista</a>
          </div>
          {% else %}
          <span class="ingredient teaitem">{{teatype.name}}</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

