{% extends "layout.html" %} 
{% block body %}
<h2>Lisää ainesosa teehen {{tea.name}}</h2>
<div class="pane form">
  <form action="{{url_for('add_ingredient_to_tea', id = tea.id)}}" method="POST">
    <input type="hidden" name="id" value="{{tea.id}}">
    <table>
      <tr>
        <td>
          {{form.ingredient(class_="form-control")}}
        </td>
        <td>
          <input type="submit" class="form-control" value="Lisää">
        </td>
      </tr>
    </table>
  </form>
  <div id="ingredients">
    <table class="table" id="ingredient_list">
      <thead>
        <th>Ainesosa</th>
      </thead>
      {%for ingredient in ingredients%}
      <tbody>
        <tr>
          <td><span class="ingredient teaitem">{{ingredient.name}}</span></td>
        </tr>
        {%endfor%}
      </tbody>
  </div>
</div>
{% endblock %}

