{% extends "layout.html" %}

{% block body %}
<h2>Muokkaa teetä</h2>
<div class="pane form">
  <form class="form" action="{{url_for('modify_tea')}}" method="POST">
    <input type="hidden" name="id" value="{{tea.id}}">
    <div class="form-group">
      {{form.name.label(class_="form-control-label")}}
      {{form.name(class_="form-control", placeholder=form.name.label.text)}}
    </div>
    <div class="form-group">
      {{form.temperature.label(class_="form-control-label")}}
      {{form.temperature(class_="form-control", placeholder=form.temperature.label.text)}}
    </div>
    <div class="form-group">
      {{form.brewtime.label(class_="form-control-label")}}
      {{form.brewtime(class_="form-control", placeholder=form.brewtime.label.text)}}
    </div>
    <div class="form-check form-check-inline">
      {{form.boiled.label(class_="form-control-label")}}
      {{form.boiled(class_="form-control")}}
    </div>
    <div class="form-group">
      {{form.type.label(class_="form-control-label")}}
      {{form.type(class_="form-control", placeholder=form.type.label.text)}}
    </div>
    </tr>
    <div>
      <input type="submit" class="btn btn-primary form-control" value="Tallenna muokkaus">
    </div>
  </form>
</div>
{% endblock %}
